

<div class="form-element-align">
  <%= simple_form_for [rag_statusable, rag_status], :html => { :class => 'form-group' } do |f| %>	
	<%= f.input :rag_status, collection: [ "Red", "Amber", "Green"] %>
	<%= f.input :description %>

	<div class="form-actions">
		<%= f.button :submit, :class => 'btn btn-primary' %>
	</div>
  <% end %>
</div>