<!DOCTYPE html>
<html>
<head>
  <title>Soopli</title>
  <%= stylesheet_link_tag    "soopli/application", media: "all" %>
  <%= javascript_include_tag "soopli/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
